.mypic {
    height: 500px;
}

.projectpic {
    max-width: 310px;
}

.feature_inner {
    margin-bottom: 0px!important;
}

.p_120 {
    padding-top: 20px !important;
    padding-bottom: 50px !important;
}

.banner_area .banner_inner {
    min-height: 230px !important;
}

.banner_area {
    min-height: 200px !important;
}

.footer_area {
    background: #e3e6ff !important;
}

.f_title h3 {
    color: #808080 !important;
}

.ab_widget p {
    color: #808080 !important;
}

.news_widget p {
    color: #808080 !important;
}

.banner_area .banner_inner {
    background: none !important;
}

.social_widget .list li a {
    color: #aa8d80 !important;
}

.projects_text a {
    color: #a4dc47 !important;
}

.feature_item a {
    color: #74bf45 !important;
}

.contact_form .form-group .form-control {
    border: 1px solid #f8b60057 !important;
}
.container.login-container {
    margin-top: 100px;
   max-width:600px;
}
