@using Microsoft.AspNet.Identity
@using folio.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FreshMart-Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    @*<link rel="stylesheet" href="~/AdminComponents/bower_components/bootstrap/dist/css/bootstrap.min.css">*@
    @*<link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="~/AdminComponents/bower_components/font-awesome/css/font-awesome.min.css">*@
    @*<link href="~/Content/Admin/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="~/Content/Admin/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Ionicons -->
    @*<link rel="stylesheet" href="~/AdminComponents/bower_components/Ionicons/css/ionicons.min.css">*@
    @*<link href="~/Content/Admin/css/ionicons.min.css" rel="stylesheet" />*@
    <link href="~/Content/Admin/css/ionicons.min.css" rel="stylesheet" />

    <!-- jvectormap -->
    @*<link rel="stylesheet" href="~/AdminComponents/bower_components/jvectormap/jquery-jvectormap.css">*@
    @*<link href="~/Content/Admin/css/jquery-jvectormap.css" rel="stylesheet" />*@
    <link href="~/Content/Admin/css/jquery-jvectormap.css" rel="stylesheet" />

    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/AdminComponents/dist/css/AdminLTE.min.css">*@
    @*<link href="~/Content/Admin/css/AdminLTE.min.css" rel="stylesheet" />*@
    <link href="~/Content/Admin/css/AdminLTE.min.css" rel="stylesheet" />

    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    @*<link rel="stylesheet" href="~/AdminComponents/dist/css/skins/_all-skins.min.css">*@
    <link href="~/Content/Admin/css/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/AdminStyle.css" rel="stylesheet" />


    <script src="~/Content/Admin/js/html5shiv.min.js"></script>
    <script src="~/Content/Admin/js/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link href="~/Content/Admin/css/googlefont.css" rel="stylesheet" />


</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">

            <!-- Logo -->
            <a href="/admin" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Freshmart Admin</b></span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Nav</span>
                </a>
                @{
                    var store = new UserStore<ApplicationUser>(new ApplicationDbContext());
                    var manager = new UserManager<ApplicationUser>(store);
                    var user = manager.FindByName(User.Identity.GetUserName());
                    var firstName = user.FirstName;
                    var lastName = user.LastName;
                    ViewBag.firstname = firstName;
                    ViewBag.lastname = lastName;

                }

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                                @if (ViewBag.profilepic != null)
                                {
                                    <img src="@ViewBag.profilepic" class="user-image" alt="User Image">
                                }
                                else
                                {
                                    <img src="~/Content/Admin/img/materialthumb.jpg" class="user-image" alt="User Image">
                                }

                                <span class="hidden-xs">@firstName &nbsp;@lastName</span>
                            </a>

                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    @if (ViewBag.profilepic != null)
                                    {
                                        <img src="@ViewBag.profilepic" class="img-circle" alt="User Image">
                                    }
                                    else
                                    {
                                        <img src="~/Content/Admin/img/materialthumb.jpg" class="img-circle" alt="User Image">
                                    }



                                    <p>
                                        <a style="color: chartreuse" href="/admin/adminprofile/index"> @firstName&nbsp;@lastName - Web Developer</a>
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                @*user greetings*@

                                @Html.Partial("_LoginPartial")

                            </ul>
                        </li>

                    </ul>
                </div>



            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active treeview menu-open">
                        <a href="#">
                            <i class="fa fa-dashboard text-blue"></i> <span>Home</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/AdminHome"> <i class="fa fa-circle-o text-aqua"></i> Admin Home</a></li>
                            <li class="active">
                                <a href="/"> <i class="fa fa-circle-o"></i>Web Home</a>

                            </li>
                        </ul>
                    </li>



                    @* Profile manage *@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-product-hunt"></i>
                            <span>Profile Manager</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/Adminprofile"> <i class="fa fa-circle-o text-blue"></i> Profile</a></li>
                        </ul>
                    </li>

                    @* Project manage *@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-product-hunt text-aqua"></i>
                            <span>Project Manager</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/ProjectManager"> <i class="fa fa-circle-o text-yellow"></i>Home </a></li>
                            <li><a href="/admin/ProjectManager/create"> <i class="fa fa-circle-o text-yellow"></i>Create project </a></li>

                        </ul>
                    </li>  @* Skill manage *@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-product-hunt text-aqua"></i>
                            <span>Skill Manager</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/SkillsManager"> <i class="fa fa-circle-o text-yellow"></i>Home </a></li>
                            <li><a href="/admin/SkillsManager/create"> <i class="fa fa-circle-o text-yellow"></i>Create Skill </a></li>

                        </ul>
                    </li>

                    @* categories manage *@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-product-hunt"></i>
                            <span>Category Manager</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/CategoryManager"> <i class="fa fa-circle-o text-yellow"></i>All Categories </a></li>
                            <li><a href="/admin/CategoryManager/create"> <i class="fa fa-circle-o text-green"></i>Add Category</a></li>

                        </ul>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>



        @RenderBody()




        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->

    <script src="~/Content/Admin/js/jquery.min.js"></script>

    <!-- Bootstrap 3.3.7 -->
    @*<script src="~/AdminComponents/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>

    <!-- FastClick -->
    @*<script src="~/AdminComponents/bower_components/fastclick/lib/fastclick.js"></script>*@

    <script src="~/Content/Admin/js/fastclick.js"></script>
    <!-- AdminLTE App -->
    @*<script src="~/AdminComponents/dist/js/adminlte.min.js"></script>*@
    <!-- Sparkline -->
    <script src="~/Content/Admin/js/adminlte.min.js"></script>

    @*<script src="~/AdminComponents/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>*@
    <script src="~/Content/Admin/js/jquery.sparkline.min.js"></script>

    <!-- jvectormap  -->
    <script src="~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- SlimScroll -->
    @*<script src="~/AdminComponents/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>*@
    <script src="~/Content/Admin/js/jquery.slimscroll.min.js"></script>
    <!-- ChartJS -->
    @*<script src="~/AdminComponents/bower_components/chart.js/Chart.js"></script>*@
    <script src="~/Content/Admin/js/Chart.js"></script>
    <script src="~/Content/Admin/js/Chart.js"></script>

    <script src="~/Content/Admin/js/dashboard2.js"></script>
    <!-- AdminLTE for demo purposes -->

    <script src="~/Content/Admin/js/demo.js"></script>
</body>

</html>