@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{


    <li class="user-footer">

        <div class="pull-right">
            <a href="/Admin/AdminProfile/LogOff"> Sign Out</a>
        </div>
    </li>


}



